.control {
  font-size: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  .up {
    color: #b5ff9e;
    font-size: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }

  .down {
    color: #ffaca3;
    font-size:inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }

  .counter {
    font-size: 50px;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
#notification {
    .notification {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background-color: #fff;

      &.info {}

      &.warn {
        background-color: #fc8;
      }

      &.alert {
        background-color: #f55;
        color: #fff;
        font-weight: bold;
      }
    }
}