<i class="notice">Please login with pin</i>
<input type="password" class="numpad-text">
<div class="numpad-buttons">
    <div class="numpad-button" id="numpad-1" data-value="1">1</div>
    <div class="numpad-button" id="numpad-2" data-value="2">2</div>
    <div class="numpad-button" id="numpad-3" data-value="3">3</div>
    <div class="numpad-button" id="numpad-4" data-value="4">4</div>
    <div class="numpad-button" id="numpad-5" data-value="5">5</div>
    <div class="numpad-button" id="numpad-6" data-value="6">6</div>
    <div class="numpad-button" id="numpad-7" data-value="7">7</div>
    <div class="numpad-button" id="numpad-8" data-value="8">8</div>
    <div class="numpad-button" id="numpad-9" data-value="9">9</div>
    <div class="numpad-button" id="numpad-backspace" data-value="backspace">&#x232B;</div>
    <div class="numpad-button" id="numpad-0" data-value="0">0</div>
    <div class="numpad-button" id="numpad-enter" data-value="enter">&#x23CE;</div>
</div>